
Django==2.2

django-crispy-forms==1.9.2



gast==0.2.2
gensim==3.8.2

h5py==2.10.0
html5lib==0.9999999
idna==3.3

itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jmespath==0.10.0
joblib==1.1.0

Keras==2.2.1
Keras-Applications==1.0.4
Keras-Preprocessing==1.0.2

Markdown==3.3.7
MarkupSafe==1.1.1



nltk==3.6.7
numpy==1.19.5

opencv-python==4.4.0.46

pandas==0.25.3

pickleshare==0.7.5
Pillow==7.2.0

protobuf==3.19.1



PyYAML==6.0

requests==2.27.1

scikit-image==0.17.2
scikit-learn==0.22.2.post1

seaborn==0.11.2


tensorflow==1.13.1


typing-extensions==3.7.4.3
urllib3==1.26.9

Werkzeug==2.0.3
whitenoise==5.1.0
